@import url('blurry-balls.css');

:root {
  /* FONTS */
  --font-base: 'Inter', sans-serif;

  /* COLORS */
  --color-primary: #f5f5f5;
  --color-secondary: #775da6;
  --color-secondary-hover: #8e73cb;
  --color-heading: #141414;
  --color-paragraph: #6d7d93;
  --color-primary-variant: #ffffff;
  --color-shadow: #30303117;
  --color-shadow-hover: #30303136;
  --color-onSecondary: #f5f5f5;

  /* PADDINGS */
  --padding-sm: 0.5rem 1.5rem;
  --padding-md: 0.8rem 1.5rem;
  --padding-lg: 1.5rem 2.5rem;

  /* FONT SIZE */
  --font-sm: 1.4rem;
  --font-md: 1.6rem;
  --font-lg: 1.8rem;
  --font-bl: 2.2rem;

  /* FONT WEIGHT */
  --weight-thin: 400;
  --weight-normal: 500;
  --weight-bold: 800;
}

[data-theme='iconoir-moon-sat'] {
  --color-primary: #111111;
  --color-secondary: #775da6;
  --color-secondary-hover: #9e84ec;
  --color-heading: #ffffff;
  --color-paragraph: #6d7d93;
  --color-primary-variant: #1c1d24;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-primary);
  line-height: 1.4;
  transition: background-color 0.2s ease-in, color 0.3s ease;
}
*::after,
*::before {
  box-sizing: border-box;
}
main {
  display: block;
}
/* Typography */

h1 {
  line-height: 1.2;
  color: var(--color-heading);
  font-family: var(--font-heading);
  font-size: var(--font-bl);
  font-weight: var(--weight-bold);
}
h2 {
  line-height: 1.2;
  color: var(--color-heading);
  font-size: var(--font-bl);
  font-weight: var(--weight-bold);
}

h3,
h4,
h5 {
  margin: 0;
  font-size: var(--font-lg);
  color: var(--color-paragraph);
}
p {
  margin-top: 0;

  font-size: var(--font-md);
  font-weight: var(--weight-normal);
  line-height: 1.6;
  color: var(--color-paragraph);
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  :root {
    --font-sm: 1.2rem;
    --font-md: 1.4rem;
    --font-lg: 1.6rem;
    --font-bl: 1.8rem;
  }
}
/* Buttons */
.btn {
  border: none;
  border-radius: clamp(0.5rem, 10%, 1rem);
}

.btn--secondy {
  background-color: var(--color-secondary);
  color: var(--color-onSecondary);
}
.btn--dark {
  background-color: var(--color-bg);
}
.btn--light {
  background-color: var(--color-primary-variant);
  box-shadow: none;
  border: 1px solid var(--color-shadow);
}

.btn--sm {
  font-size: var(--font-sm);
  padding: var(--padding-sm);
  font-weight: var(--weight-sm);
}
.btn--md {
  font-size: var(--font-md);
  padding: var(--padding-md);
  font-weight: var(--weight-md);
}
.btn--lg {
  font-size: var(--font-lg);
  padding: var(--padding-lg);
  font-weight: var(--weight-md);
}

.btn-label {
  color: var(--color-heading);
  max-lines: 1;
  font-weight: var(--weight-bold);
}

.btn-lable--reverse {
  color: white;
}

/* toggle theme */
#theme {
  transition: all 100ms ease;
}

/* CARDS */
.card {
  background-color: var(--color-primary-variant);
  box-shadow: 0px 4px 4px var(--color-shadow);
  border-radius: clamp(1rem, 10%, 1.5rem);
  padding: var(--padding-md);
  width: fit-content;
  margin: var(--padding-md);
}

/* CARD TRANSACTIONS */
.card-transactions--earning {
  background-color: var(--color-secondary);
  color: var(--color-onSecondary);
}
.card-transactions--earning * {
  color: inherit;
}
.card-transactions__title {
  font-weight: var(--weight-thin);
  font-size: var(--font-md);
  color: var(--color-paragraph);
}
.card-bank-card {
  background-color: var(--color-secondary);
  padding: var(--padding-sm);
  margin: 0 auto;
}

.card-bank-card * {
  color: var(--color-onSecondary) !important;
}
.card__serial {
  margin: 0.8rem 0 0.8rem 0;
}

.card__chip-holder {
  margin: 1rem 0 0.5rem 0;
}

.card__cvv {
}
.card__bank {
  align-self: flex-end;
}

.flex {
  display: flex !important;
}
.flex__row {
  flex-direction: row;
}
.flex__column {
  flex-direction: column;
}

/* BADGES  */
.badge {
  display: inline-block;
  width: 33px;
  height: 33px;
  border-radius: 22px;
  position: relative;
  background-color: var(--color-primary-variant);
  box-shadow: none;
  align-content: center;
}

.badge--free {
  width: fit-content;
}

/* ICONS */
.icon {
  display: block;
  margin: 0 auto;
  color: var(--color-paragraph);
}

.icon--heading {
  color: var(--color-heading);
}

.icon--sm,
.icon--sm::before {
  width: 16px;
  height: 16px;
}

.icon--md,
.icon--md::before {
  width: 22px;
  height: 22px;
}
.icon--lg,
.icon--lg::before {
  width: 28px;
  height: 28px;
}

/* GRID */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.navbar.grid {
  grid-template-columns: 0.1fr 0.9fr;
}
.navbar__middle {
  flex-direction: column;
  flex-wrap: wrap;
  display: block;
}

.navbar__left {
  display: none;
}

.navbar {
  overflow: auto;
  min-width: fit-content;
  margin: 0 1rem;
  padding: 2rem 0;
}

.navbar__items {
  align-self: center;
}

.navbar__avatar {
  border: 2px solid #6d7d939d;
  border-radius: 30px;
  width: 30px;
  height: 30px;
}

.navbar__middle.flex {
  gap: 2rem;
  flex-direction: row;
}
.navbar__left {
  display: none;
}
.navbar__right {
  position: absolute;
  min-width: 4rem;
  gap: 1rem;
  justify-self: end;
}

.navbar__toggler {
  display: block;
  color: var(--color-heading);
}

.navbar__brand {
  height: 42px;
  object-fit: cover;
}

.nav__menu {
  height: 33px;
}
@media screen and (max-width: 768px) {
  .navbar__toggler:not(:has(.hidden)) {
    position: fixed;
    z-index: 999;
  }
  .nav__menu:not(:has(.hidden)) {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100;
    background: color-mix(
      in srgb,
      var(--color-primary-variant) 80%,
      transparent
    );
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
    pointer-events: all;
    width: 100%;
    height: fit-content;
    padding-top: 6rem;
    padding-bottom: 1rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1),
      opacity 0.25s linear;
  }
}

.hidden {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .navbar {
    margin: 0 2rem;
  }

  .navbar__search {
    align-items: center;
    width: fit-content;
    padding: 0 1rem;
    gap: 0.5rem;
    flex-wrap: nowrap;
  }

  .navbar__search-title {
    margin: 0 auto;
    text-align: center;
  }

  .navbar__middle.flex {
    flex-direction: row;
  }

  .navbar__left {
    display: block !important;
  }
  .navbar.grid {
    grid-template-columns: repeat(auto, 1fr) !important;
    gap: 3rem;
  }

  .navbar__toggler {
    display: none !important;
  }

  .hidden {
    display: block;
  }
}
