<div class="card card-transactions">
  <h2 class="card-transactions__title">Total Spending</h2>
  <h3 class="card-transactions__amount">$ 48,670</h3>
  <div class="card-transactions__exceeds">
    <p><strong>6$</strong> Increase From Target</p>
  </div>
</div>
<div class="card card-transactions--earning">
  <h1 class="card-transactions__title">Total Earning</h1>
  <h3 class="card-transactions__amount">$ 48,670</h3>
  <p class="card-transactions__exceeds">
    <strong>6$</strong> Increase From Target
  </p>
</div>

<!-- //////////////////////////////////// -->
<div class="card card-bank-card flex flex__row">
  <div>
    <div class="card__chip-holder">
      <img class="card__chip-icon" src="/images/icon-card-chip.png" />
    </div>
    <h3 class="card__serial">5894 1363 2580 1452</h3>

    <p class="card__cvv">cvv2:<span>258</span></p>
  </div>
  <div class="card__bank">
    <p>bank meli</p>
  </div>
</div>

<!-- //////////////////// -->

<div class="card__transaction card">
  <h3 class="card__transaction-title">T Shirt</h3>
  <p class="card__transaction-title"></p>
</div>
