<div class="card card-transactions">
  <h2 class="card-transactions__title">Total Spending</h2>
  <h3 class="card-transactions__amount">$ 48,670</h3>
  <div class="card-transactions__exceeds">
    <p><strong>6$</strong> Increase From Target</p>
  </div>
</div>
<div class="card card-transactions--earning">
  <h1 class="card-transactions__title">Total Earning</h1>
  <h3 class="card-transactions__amount">$ 48,670</h3>
  <p class="card-transactions__exceeds">
    <strong>6$</strong> Increase From Target
  </p>
</div>
