<nav class="navbar grid grid--1x2">
  <div class="toggle-theme navbar__items navbar__left flex">
    <img
      class="navbar__brand"
      src="/images/dino-cash-logo.png"
      id="theme__icon"
    />
  </div>

  <div class="navbar__items navbar__middle flex">
    <i class="navbar__toggler icon--md badge__icon iconoir-menu"></i>

    <div class="nav__menu hidden">
      <button class="navbar__item navbar__dashboard btn btn--md btn--dark">
        <span class="btn-label">Dashboard</span>
      </button>

      <button class="navbar__item navbar__setting btn btn--md btn--light">
        <span class="btn-label">Setting</span>
      </button>

      <button class="navbar__item navbar__wallet btn btn--md btn--dark">
        <span class="btn-label">Wallet</span>
      </button>
    </div>
  </div>

  <div class="navbar__items navbar__right flex">
    <span class="navbar__search badge badge--free flex flex__row">
      <i class="icon icon--md icon--heading badge__icon iconoir-search"></i>
      <p class="navbar__search-title">search for your transaction...</p>
    </span>
    <span class="badge">
      <i class="icon icon--md icon--heading badge__icon iconoir-megaphone"></i>
    </span>

    <img class="navbar__avatar" src="/images/avatar.jpg" />
  </div>
</nav>
